<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="anbardariEntities" connectionString="metadata=res://*/entityusers.csdl|res://*/entityusers.ssdl|res://*/entityusers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=anbardari;user id=sa;password=02061374;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>